:root {
    --background: rgb(14, 43, 70);
    --darkblue: rgb(10, 34, 53);
    --lightblue: rgb(10, 64, 116);
}

html, body {
    background-color: var(--background);
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    align-self: flex-end;
    justify-self: center;
    margin: 1rem;
    gap: 1rem;
}


.nav-element {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.nav-element:hover {
    text-decoration: underline;
}

.board {
    background-color: var(--darkblue);
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4.3rem);
}

.list-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    height: 99%;
    margin: auto 0;
}

.task-container {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    width: 33%;
}

.task-container h2 {
    margin: 0.5rem auto;
    color: white;
}

.task-form {
    display: flex;
    flex-direction: column;
    padding: 0 0.55rem;
    background-color: var(--darkblue);
    width: 20%;
    height: 99%;
    margin: auto 0;
    gap: 1rem;
}

.task-form h2 {
    margin: 0.5rem auto;
    color: white;
}

.task-form textarea {
    resize: none;
    height: 400px;
}

.task-form button {
    padding: 0.5rem;
}

.task {
    background-color: var(--lightblue);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    max-height: 400px;
    min-height: 50px;
    width: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.task-description {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.task-description:focus {
    padding: 0.5rem;
    background-color: var(--darkblue);
    border: none;
    height: 200px;
}


.task-header {
    display: flex;
    justify-content: space-between;
}

.task-title {
    font-weight: 600;
    font-size: 1.5em;
}

.task-title:focus {
    padding: 0.5rem;
    background-color: var(--darkblue);
    border: none;
    width: 100%;
    margin: 0 1rem 0 0;
    height: 100px;
}

.task-date-container {
    display: flex;
    justify-content: space-between;
}

.task-date {
    font-weight: 600;
    font-size: 0.8em;
}

.task-delete-button:hover {
    cursor: pointer;
}

.form-field {
    padding: 0.5rem;
    border: 0;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-field:focus {
    border: none;
    outline: none;
}

.form-button {
    background-color: var(--lightblue);
    color: white;
    border: 0;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.auth-form {
    display: flex;
    background-color: var(--darkblue);
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.auth-form h1 {
    color: white;
    margin: 0;
    font-size: 1.5em;
}

.auth-button {
    width: 25%;
    padding: 0.5rem;
    margin: 0 auto;
    cursor: pointer;
}

.home{
    color: white;
    width: 500px;
    margin: 0 auto;
}









